@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.contianer {
    max-width: 1600px;
    background: #000;
    background: linear-gradient(270deg, rgba(11, 11, 11, 1) 100%, rgba(0, 0, 0, 1) 100%);

    margin: auto;

    header {
        max-width: 1100px;
        width: 100%;
        height: 70px;
        margin: auto;
        background: linear-gradient(270deg, rgba(11, 11, 11, 1) 100%, rgba(0, 0, 0, 1) 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

        .logo {
            color: #ffff;
            display: flex;
            align-items: center;
            cursor: pointer;

            h1 {
                font-size: 16px;
                font-weight: 500;

            }
        }

        .header_ul {
            ul {
                display: flex;
                list-style: none;
                gap: 30px;

                li {
                    a {
                        text-decoration: none;
                        color: #8B8E99;
                        font-weight: 500;
                    }
                }
            }
        }

        .header_right {
            display: flex;
            align-items: center;
            color: #fff;
            gap: 15px;

            i {
                font-size: 25px;
                cursor: pointer;
            }
        }
    }

    main {
        max-width: 1100px;
        margin: auto;
        height: 100vh;
        background: linear-gradient(270deg, rgba(11, 11, 11, 1) 100%, rgba(0, 0, 0, 1) 100%);
        color: #fff;

        .section1 {
            width: 100%;
            height: 800px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .section1_left {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 80.32px;

                }

                p {
                    width: 456px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20.08px;
                    color: #8B8E99;
                    margin: 10px 0 50px 0;
                }

                .section1_form {
                    width: 440px;
                    height: 60px;
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    i {
                        color: #4562D8;
                        font-size: 25px;
                    }

                    input {
                        width: 280px;
                        height: 80%;
                        border: none;
                        font-size: 20px;
                    }

                    button {
                        width: 110px;
                        height: 45px;
                        background-color: #3858D6;
                        border: none;
                        font-size: 18px;
                        color: #fff;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}